body{
  background-color: #CCE5FF;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  font-family: Trocchi,serif; 
}
.container{
  position:relative;
  width: 100%;
  min-width: 1100px;
  min-height: 1270px;
  margin: 50px;  
}
.navheader{
  position: absolute;
  background-color: #E5CCFF;
  min-width: 1100px;
  height: 80px;
  margin-top: 50px;
  margin-left: 50px;
  flex-wrap: wrap;
  border-radius: 5px 5px 5px 5px;
}
.text{
  position: absolute;
  margin-top: -15px;
  margin-left: 500px;
  font-size: 35px;
}
.container1{
  position: absolute;
  background-color: #E5CCFF;
  margin-top: 140px;
  width: 1100px;
  height: 1000px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  font-size: 33px;
  left: 50px;
  top: 40px;
}
input[type="radio"]{
  display: none;
}
label{
  display: inline;
  cursor: pointer;
  font-weight: 500;
}
label span{
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
}
label span:hover,
input[type="radio"]:checked + span{
  background-color: #cfcfd3;
}
label span:before{
  content: "";
  background-color: #fff;
  width: 44px;
  height: 42px;
  border-radius: 90%;
  margin-right: 10px;
  box-shadow: inset 0 0 0 2px #010144;
}
input[type="radio"]:checked + span:before{
  box-shadow: inset 0 0 0 10px #2e2eee;
}
form{
  margin-top: 600px;
  margin-left: 100px;
}
input[type="reset"]{
  font-family: Trocchi,serif;
  position: absolute;
  margin-left: 50px;
  width: 150px;
  height: 50px;
  font-size: 30px;
  background-color: lightblue;
  border-radius: 5px 5px 5px 5px;
  top: -115px;
  left: 850px;
}
.container2{
  position: absolute;
  background-color: #E5CCFF;
  width: 300px;
  height: 340px;
  top: 50px;
  left: 50px;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid;
}
.container3{
  position: absolute;
  background-color: #E5CCFF;
  width: 300px;
  height: 340px;
  top: 50px;
  left: 400px;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid;
}
.container4{
  position: absolute;
  background-color: #E5CCFF;
  width: 300px;
  height: 340px;
  top: 50px;
  left: 750px;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid;
}
img{
  width: 230px;
  height: 163px;
  margin-top: 100px;
  margin-left: 35px;
}
.info{
  margin-left: 70px;
  margin-top: 150px;
}
.reset{
  position: relative;
  top: 15px;
  left: 970px;
  height: 50px;
  width: 100px;
  font-size: 30px;
  background-color: #CCCCFF;
  border-radius: 5px 5px 5px 5px;
}